html {
  background-color: rgb(254, 249, 239);
}

.navbar {
  background: #b88d67;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.navbar-start {
  margin-right: 15%;
}
/* CSS for Login starts here */

h1 {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.loginForm1 {
  width: 80%;
  height: 75%;
  margin: auto;
  margin-top: 20px;
  background: #e9d5af;
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 12px;
}

.card {
  width: 200px;
  padding: 20px;
  height: 200px;
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* verication css starts here */

.verifyForm {
  width: 50%;
  height: 75%;
  margin: auto;
  margin-top: 20px;
  background: #e9d5af;
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 12px;
}

/* register css starts here */

.registerForm1 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  height: 80%;
  background: #e9d5af;
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 12px;
}

input {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 5px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

table,
th,
td {
  border: 1px solid black;
}

/* passport css starts here */

.passportContainer {
  background-color: white;
  display: flex;
  margin-left: 200px;
  width: 900px;
  height: 900px;
  vertical-align: baseline;
}

.coffeeshop {
  margin: 10px;
}

img {
  width: 200px;
}

.passporth3 {
  margin-top: 24px;
  border-bottom: 1px solid #e5e5e5;
}

h2,
h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.colorline {
  margin-top: 1000px;
}

.is-amber {
  background: #bc6c25;
}

.star {
  width: 20px;
}

.stars {
  display: flex;
  flex-wrap: wrap;
}

.reviews {
  background-color: green;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
}

.visitcount {
  background-color: peru;
  padding: 30px;
  width: 150px;
  border-radius: 10%;
}

title {
  align-self: center;
}

.notification {
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 300px;
  background: #e9d5af;
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* left: 500px; */
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 12px;
}

button {
  width: 80%;
  height: 75%;
  background: #ffffff;
  border-radius: 5px;
  display: inline-block;
  margin-left: 15px;
}

button:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
}

.coffeeshopcontainer {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 75%;
  background: rgb(232, 237, 223);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* left: 500px; */
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 12px;
}

hr {
  color: black;
}

.rewardcontainer {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 75%;
  background: rgb(232, 237, 223);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* left: 500px; */
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 12px;
}
