html {
  background-color: rgba(245, 245, 239);
  font-family: "Poppins", sans-serif;
  color: rgb(135, 103, 78);
}

.navbar {
  background: rgba(245, 245, 239);
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: rgb(135, 103, 78);
}

.navbar-start {
  margin-right: 15%;
}
/* CSS for Login starts here */

h1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.loginForm1 {
  width: 80%;
  height: 75%;
  margin: auto;
  margin-top: 20px;
  background: rgba(204, 118, 46);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 30px 20px;
}

.Form1 {
  width: 80%;
  height: 75%;
  margin: auto;
  margin-top: 20px;
  background: rgba(204, 118, 46);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 30px 20px;
}

.card {
  width: 200px;
  padding: 20px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  color: rgb(135, 103, 78);
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* verication css starts here */

.verifyForm {
  width: 50%;
  height: 75%;
  margin: auto;
  margin-top: 20px;
  background: rgba(204, 118, 46);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 5px 12px;
  color: rgb(135, 103, 78);
}

/* register css starts here */

.registerForm1 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  height: 80%;
  background: rgba(204, 118, 46);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 5px 12px;
  color: rgb(135, 103, 78);
}

input {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 5px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  color: rgb(135, 103, 78);
}

/* passport css starts here */

.passportContainer {
  background-color: white;
  display: flex;
  margin-left: 200px;
  width: 900px;
  height: 900px;
  vertical-align: baseline;
}

.coffeeshop {
  margin: 10px;
}

img {
  width: 200px;
}

.passporth3 {
  margin-top: 24px;
  border-bottom: 1px solid #e5e5e5;
}

h2,
h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.colorline {
  margin-top: 1000px;
}

.is-amber {
  background: #bc6c25;
}

.star {
  width: 40px;
}

.stars {
  display: flex;
  flex-wrap: wrap;
}

.reviews {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(135, 103, 78);
}

.visitcount {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(135, 103, 78);
}

.imageupload {
  width: 100%;
}


.shopimage {
  width: 150px;
  border-radius: 10%;
  padding: 10px;
}

title {
  align-self: center;
}

.notification {
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 300px;
  background: #e9d5af;
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 5px 12px;
  color: rgb(135, 103, 78);
}

button {
  width: 80%;
  height: 75%;
  background: #ffffff;
  border-radius: 5px;
  display: inline-block;
  margin-left: 15px;
}

button:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
}

hr {
  color: black;
}

.rewardcontainer,
.visitcontainer {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 75%;
  background: rgb(232, 237, 223);
  border: 2px solid #c0c0c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* left: 500px; */
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 5px 12px;
}

.footer {
  height: 3rem;
  text-align: center;
  background-color:rgba(245,245,239);
  font-family: 'Poppins', sans-serif;
  color: rgb(135,103,78);
  
}

.homebanner {
  width: 100%;
}

.banner {
  width: 100%;
}

.logo {
  height: 100px;
  width: auto;
}

.button, .field,.title, .subtitle, label{
  font-family: 'Poppins', sans-serif;
  color: rgb(135,103,78)
}

.carditem {
  display: flex;
  flex-wrap: wrap;
  color: rgb(135, 103, 78);
  justify-content: space-evenly;
  object-position: bottom;
}

.icon {
  width: 60px;
  height: 60px;
}

.trial {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 8px 0px;
  align-content: center;
}
